.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.imgContainer {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgb(163, 163, 163);
}

.img {
  width: 100%;
  height: 100%;
  background-color: rgb(163, 163, 163);
  border-radius: 50%;
  object-fit: cover;
}

.topContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.title {
  font-weight: 500;
  line-height: 1.5;
  color: var(--gray-color);
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconStar {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}

.ratingText {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.text {
  font-weight: 500;
  line-height: 1.5;
}
