.nav {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 28px;
  line-height: 1.25;
}

.active {
  color: var(--main-color);
}

.link:hover {
  color: var(--hover-color);
  transition: color 200ms linear;
}

.btnMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: var(--black-color);
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }

  .btnMenu {
    display: none;
  }
}
