.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  line-height: 1.25;
}

.active {
  color: var(--main-color);
}

.link:hover {
  color: var(--main-color);
  transition: color 200ms linear;
}
