.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border-radius: 24px;
  padding: 32px 24px;
  width: 320px;
  background-color: var(--main-white-color);
  font-size: 14px;
}

.languagesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.imgContainer {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 3px solid var(--light-color);
  padding: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  background-color: rgb(163, 163, 163);
  border-radius: 50%;
  object-fit: cover;
}

.greenCircle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--green-color);

  position: absolute;
  top: 19px;
  right: 23px;
  border: 2px solid var(--main-white-color);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 272px;
}

/* ------------------------------------topString------------------------------------ */

.topString {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.statisticContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.lessonsOnlineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-right: 16px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
}

.iconBook {
  fill: transparent;
  stroke: #000;
  width: 16px;
  height: 16px;
}

.statisticText {
  font-weight: 500;
  line-height: 1.5;
}

.lessonsDoneContainer {
  padding-right: 16px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-right: 16px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
}

.iconStar {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}

.selectPrice {
  color: var(--green-color);
}

.heartBtn {
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.iconHeart {
  fill: transparent;
  stroke: var(--black-color);
}

.heartBtn:hover .iconHeart {
  stroke: var(--main-color);
  transition: stroke 200ms linear;
}

.favoritHeatIcon {
  fill: var(--main-color);
  stroke: transparent;
}

.heartBtn:hover .favoritHeatIcon {
  fill: var(--hover-color);
  transition: fill 200ms linear;
}

/* ------------------------------------details------------------------------------ */

.detailsTitle {
  color: var(--gray-color);
  font-weight: 500;
  line-height: 1.3;
}

.title {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.detailsItemContainer {
  display: flex;
  gap: 4px;
}

.underlinedText {
  text-decoration: underline;
  color: var(--black-color);
  font-weight: 500;
  line-height: 1.5;
}

.text {
  color: var(--black-color);
  font-weight: 500;
  line-height: 1.5;
}

/* ------------------------------------readMore------------------------------------ */

.readMoreBtn {
  text-decoration: underline;
  color: var(--black-color);
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  width: 78px;
  margin-top: 16px;
}

.readMoreBtn:hover {
  color: var(--main-color);
  transition: color 200ms linear;
}

.levelsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.readMoreContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.experienceText {
  line-height: 1.5;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.bookTrialBtn {
  width: 232px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  padding: 16px 48px;
  margin-top: 32px;
}

.bookTrialBtn:hover {
  background-color: var(--hover-color);
  transition: background-color 200ms linear;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    flex-direction: row;
    width: 768px;
    gap: 24px;
    padding: 48px 24px;
    font-size: 16px;
    align-items: start;
  }

  .contentContainer {
    width: 594px;
  }

  .languagesContainer {
    gap: 8px;
  }

  .statisticContainer {
    flex-wrap: nowrap;
  }

  .iconBook {
    width: 20px;
    height: 20px;
  }

  .iconStar {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1184px;
    gap: 48px;
    padding: 24px;
    flex-direction: row;
    font-size: 16px;
    align-items: start;
  }

  .contentContainer {
    width: 968px;
  }

  .languagesContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 968px;
  }

  .statisticContainer {
    flex-wrap: nowrap;
  }

  .title {
    display: flex;
  }

  .iconBook {
    width: 16px;
    height: 16px;
  }

  .iconStar {
    width: 16px;
    height: 16px;
  }

  .heartBtn {
    margin-left: 64px;
    position: static;
  }
}
